<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="container-sm bg-secondary text-warning">
        Arbortrary
    </h1>
    <h3 class="text-danger">A site to track randomly planted trees</h3>
    <h3 class="text-danger"></h3>
    </div>


    <h1>Manage My Trees</h1>

    <p>
        Welcome, {{user.first_name}} {{user.last_name}}
    </p>
    <div class="container-sm">
        <table class="table">
            <thead>
                <th scope="col">Species Name</th>
                <th scope="col">Planted by </th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                {% for tree in tree %}
                <tr>
                    <td>{{tree.species}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td><a href="/trees/{{tree.tree_id}}/edit">Edit</a> | <a href="/trees/{{tree.tree_id}}/delete">Delete</a> | <a href="/show/{{tree.tree_id}}">Details</a></td>
                </tr>
                {% endfor %}
                <div>
                    <a input type="button" class="btn btn-warning" href="/dashboard"> Dashboard</a>
                </div>
                <div>
                    <a class="btn btn-primary border border-dark" href="/logout" role="button">Logout</a>
                </div>
            </tbody>
        </table>
    </div>
</body>
</html>